h1 {
    font-size: 50px;
    text-align: center;
    background-color: darkgrey
}

h2 {
    font-size: 20px;
    text-align: center;
    background-color: darkgrey
}

body {
    margin: 0 auto;
    max-width: 800px;
    background-color: darkgrey;
    font-family: 'Abel', sans-serif;
}

div {
    text-align: center;
    font-size: 80px
}

p {
    font-size: 20px
}

.sub-border {
    background-color: gray;
    text-align: left;
    padding: 50px
}

blockquote {
    font-size: 45px;
    text-align: center;
}
