h1 {
    font-size: 50px;
    text-align: center
}

h2 {
    font-size: 30px;
    text-align: center
}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
