* {
    box-sizing: border-box;

}

.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 64px;
    text-align: center;


}

h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 45px
}

body {
    background-color: rgb(13, 0, 88);
    color: whitesmoke;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
}

.cardbox {
    position: absolute;
    top: 60px;
    left: 800px;
    background-color: hsla(241, 79%, 38%, 0.678);
    padding: 100px 200px;
}

.moreinfo {
    font-family: 'Questrial', sans-serif;
    font-size: 34px;
    color: whitesmoke;
    background: border-box;
}

.moreinfo:hover {
    background: rgb(77, 28, 255);
}
